div{
    background-color: lightblue;
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}

    li{
        color:blueviolet;
}
body{
    background-color: rgb(243, 220, 234);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

 p{
    color: blueviolet;
    font-size: 16px;
    line-height: 1.5;
}
